// VARIABLES

$general-padding: 60px;
$small-padding: 30px;
$section-height: 33rem;

$contrast-color: #fff;
$emphasis-color: #213590;
$tagline-color: #4A4A4A;

// MIXINS

@mixin cover-background($img-uri, $background-pos, $background-size) {
  background: url($img-uri) no-repeat unquote($background-pos);
  -webkit-background-size: unquote($background-size);
  -moz-background-size: unquote($background-size);
  -o-background-size: unquote($background-size);
  background-size: unquote($background-size);
}

// pseudo-element to allow transparency in background img
@mixin transparent-background($img-uri, $background-pos, $background-size, $opacity) {
  content: "";
  @include cover-background($img-uri, $background-pos, $background-size);
  opacity: $opacity;
  left: 0;
  right: 0;
  height: inherit;
  position: absolute;
  z-index: -1;
}

// flexbox list, pass in item width as %
@mixin flex-list($flex-basis) {
  .grid li {
    padding: 0 30px;
    flex-basis: $flex-basis;
    text-align: center;
  }
}

// RESETS

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
}

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
}

// clearfix
.group:after {
  content: "";
  display: block;
  clear: both;
}

// GLOBAL STYLES

body {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
}

section {
  text-align: center;
  min-height: $section-height;
}

.stats, .newsletter {
  height: $section-height;
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font: 800 1.85em "Avenir";
  color: $contrast-color;
  padding: $general-padding 0;
  letter-spacing: 0.03em;
}

h3, footer li {
  font: 300 1.3em "Museo Sans Cyrl";
  letter-spacing: 0.02em;
}

h4 {
  font: 800 1.15em "Avenir";
  padding: $small-padding 0;
}

// 0 HEADER

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $general-padding $general-padding 0;
  color: $contrast-color;
  .header-logo {
    img {
      width: 7rem;
    }
  }
  li {
    margin-top: -1.5rem;
  }
  @media (max-width: 800px) {
    flex-direction: column;
    .header-logo {
      margin-bottom: 50px;
      padding-left: 15px;
    }
  }
}

// 1 JUMBOTRON

.jumbotron {
  height: 37rem;
  padding: $small-padding calc(#{$small-padding} * 2);
  @include cover-background("../img/asia-travel.jpg", "center center fixed", "cover");
  h1, h3 {
    color: $contrast-color;
    margin: $general-padding 0;
  }
  div {
    padding: 10rem 0;
  }
  h1 {
    font: 800 2.7em "Avenir";
    letter-spacing: 0.05em;
  }
}

header ul, footer ul {
  display: flex;
  li {
    padding-left: $small-padding;
  }
}

// 2 FEATURES

.features {
  @include flex-list(30%);
  h2 {
    color: $emphasis-color;
  }
  figure {
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }
  #wand {
    @include cover-background("../img/wand.svg", "", "contain");
  }
  #soc-net {
    @include cover-background("../img/soc-net-profile.svg", "", "contain");
  }
  #friends {
    @include cover-background("../img/friends.svg", "", "contain");
  }
  @media (max-width: 1000px) {
    .grid li {
      flex-basis: 70%;
      margin-bottom: $general-padding;
    }
  }
}

.features, .testies {
  p {
    text-align: left;
  }
}

// 3 STATS

.stats {
  @include flex-list(30%);
  figure, h3 {
    color: $contrast-color;
  }
  figure {
    font: 300 5em "Museo Sans Cyrl";
    margin: $small-padding auto $small-padding;
  }
  h3 {
    font-size: 1.5em;
  }
  @media (max-width: 1000px) {
    .grid li {
      flex-basis: 70%;
      margin-bottom: $small-padding;
    }
    .grid li:first-child figure {
      margin-top: 0;
    }
    figure {
      margin: 0 auto 15px;
    }
    height: $section-height + 11rem;
  }
}

.stats::before {
  @include transparent-background("../img/meal.jpg", "center top fixed", "cover", 0.9);
}

// 4 TESTIES

.testies {
  @include flex-list(45%);
  h2 {
    color: $emphasis-color;
  }
  ul {
    margin-top: $general-padding;
  }
  img {
    float: left;
    margin-right: $small-padding;
  }
  div {
    width: calc(100% - 150px);
    float: right;
    display: inline;
  }
  .testie-name {
    margin-top: $small-padding;
    font: 800 1em "Avenir";
    text-transform: uppercase;
    color: $tagline-color;
  }
  .testie-title {
    font: 100 1em "Avenir";
    color: $tagline-color;
  }
  @media (max-width: 1000px) {
    ul {
      margin-top: 0;
    }
    .grid li {
      flex-basis: 70%;
      margin-bottom: 65px;
    }
  }
}

// 5 NEWSLETTER

.newsletter {
  h2 {
    color: black;
  }
  h3 {
    margin: $small-padding 0 $general-padding;
    color: $tagline-color;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    width: 80%;
    margin: auto;
    padding-top: $general-padding;
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  input {
    height: 2.5rem;
    border-radius: 0.3rem;
  }
  input[type="text"] {
    width: 20rem;
    background-color: white;
    color: $tagline-color;
    padding-left: 1rem;
    text-align: left;
  }
  input[type="submit"] {
    width: 10rem;
    font-size: 1.2rem;
    margin: 1rem 1rem;
    color: $contrast-color;
    background-color: rgb(33,53,144);
  }
}

.newsletter::before {
  @include transparent-background("../img/lust.jpg", "center top fixed", "cover", 0.85);
}

// 6 FOOTER

footer {
  width: 100%;
  padding: $small-padding $general-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 800px) {
    flex-direction: column-reverse;
    h1 {
      margin-top: $small-padding;
    }
  }
}
